[Unit]
Description=Final setup for JXOS live os

[Service]
Type=oneshot
ExecStart=/home/jxminer/setup/00-jxos-setup.sh

[Install]
WantedBy=multi-user.target

